@import url('./reset.scss');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer !important;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top right, white, #d4fffb, white);
  background-size: cover;
  background-attachment: fixed;
}
.form-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.form-block > form {
  padding: 10px 30px 0px 30px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-block form * {
  margin: 15px 0px 15px 0px;
}
.form-block form .image-conteiner {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  /* border: 3px solid silver; */
  overflow: hidden;
}
.form-block form input[type="text"] {
  text-align: center;
  border: 1px solid black;
  line-height: 20px;
  font-weight: bold;
}
.form-block form input[type="text"]:focus {
  outline: none;
}
.form-block form button[type="submit"]:focus {
  outline: none;
}
.form-block form .button-conteiner button[type="submit"] {
  box-sizing: border-box;
  bottom: 0;
  border: 0;
  /* border: 3px solid #16a600; */
  border-radius: 10px;
  background-color: #0080ff;
  padding: 5px 25px 5px 25px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  transition: all 0.4s ease;
  color: white;
}
.form-block form .button-conteiner button[type="submit"]:hover {
  /* border: 3px solid #16a600; */
  transition: all 0.4s ease;
  opacity: 0.7;
  transform: scale(1.3);
}
#res-validate {
  color: red;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: block;
  text-align: center;
}











.head-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 20;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: white;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  #user-email-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-left: 15px;
  }
  .logOutButton {
    display: flex;
    flex-direction: row;
    transition: all 0.5s ease;
    padding: 0px 15px 0px 15px;
    background: 0;
    border: 0;
    height: 100%;
    #logOutButtonText {
      padding: 0px 10px 0px 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
    }
    &:hover {
      transition: all 0.5s ease;
      opacity: 0.6;
    }
    &:focus {
      outline: none;
    }
  }
}


.list-of-items {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  .items {
    margin-top: 15px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    .item-block {
      width: 370px;
      height: 270px;
      box-sizing: border-box;
      margin: 15px 15px 15px 15px;
      background-color: white;
      border: 1px solid black;
      .control-button-block {
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease;
          border: 0;
          background: 0;
          width: 40px;
          height: 100%;
          &.redact-item:hover {
            background-color: rgba(235, 219, 52, 0.4);
          }
          &.delete-item:hover {
            background-color: rgba(252, 3, 3, 0.4);
          }
          &:active {
            opacity: 0.7;
          }
          &:focus {
            outline: none;
          }
        }
      }
      h1 {
        font-family: 'Roboto', sans-serif;
        padding: 7px 7px 7px 7px;
        font-weight: bolder;
        height: 60px;
        overflow-x: auto;
        text-align: justify;
      }
      p {
        font-family: 'Roboto', sans-serif;
        padding: 7px 7px 7px 7px;
        overflow-x: auto;
        height: 170px;
        font-size: 16px;
        line-height: 20px;
        text-align: justify;
      }
    }
  }
}
#add-item {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: 0;
  border: 0;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    transform: scale(1.3);
  }
  &:active {
    transform: rotate(90deg);
  }
  &:focus {
    outline: none;
  }
}


.delete-item-block {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  display: none;
  width: 100%;
  position: fixed;
  z-index: 15;
  top: 30%;
  justify-content: center;
  .popUp {
    display: block;
    width: 320px;
    background-color: white;
    border: 1px solid black;
    h1 {
      padding: 15px 15px 15px 15px;
      font-size: 30px;
    }
    .drop-post-name {
      padding: 15px 15px 15px 15px;
      height: 90px;
      overflow-x: auto;
    }
    .button-block {
      width: 100%;
      button {
        height: 50px;
        width: 50px;
        background: 0;
        border: 0;
        transition: all 0.3s ease;
        &:hover {
          opacity: 0.7;
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
}

.add-and-update-block {
  z-index: 15;
  font-family: 'Roboto', sans-serif;
  padding: 15px 15px 15px 15px;
  position: fixed;
  left: -400px;
  width: 400px;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  border-right: 1px solid black;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  #drawer-info {
    font-weight: bolder;
    font-size: 30px;
  }
  & > * {
    margin-bottom: 15px;
  }
  & > *:focus {
    outline: none;
  }
  input[type=text], textarea {
    padding: 3px 3px 3px 3px;
    line-height: 22px;
    width: 100%;
    background: 0;
    border: 1px solid black;
    border-radius: 10px;
  }
  textarea {
    height: 120px;
  }
  #submit-drawer {
    padding: 7px 15px 7px 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    transition: all 0.5s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  #close-drawer {
    margin-top: 50px;
    background: 0;
    border: 0;
    transition: all 0.5s ease;
    &:hover {
      opacity: 0.7;
    }
  }
}

@media(min-width: 810px) and (max-width: 1200px) {
  .list-of-items {
    .items {
      width: 800px;
    }
  }
}
@media(max-width: 809px) {
  .list-of-items {
    .items {
      width: 100%;
      display: flex;
      justify-content: center;
      .item-block {
        width: 100%;
      }
    }
  }
  .add-and-update-block {
    width: 320px;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
